<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/head") %>

    <body>
        <header class="j-space-between bgc-header font-color header">
            <%- include ("../partials/header-home") %>
        </header>
        <main class="main-login">
            <form class="form-login" action="/user/login" method="POST">
                <section class="formularies login">
                    <p class="text-danger">
                        <%= locals.checkDeleteAccount ? checkDeleteAccount.msg : "" %>
                    </p>
                    <h2 class="margin-10" style="text-align: left;">
                        Ingresa a tu cuenta
                    </h2>

                    <div>
                        <div class=" m-formularies-2">
                            <label></label>
                            <div>
                                <input class="formularies-deco flex-q-1 email-login" type="email" name="email"
                                    placeholder="Nombre/Correo Electronico"
                                    value="<%= (locals.oldData && oldData.email) ? oldData.email : '' %>">
                            </div>
                            <% if(locals.errors && errors.email) { %>
                                <div class="container-errors text-danger">
                                    <p>
                                        <%=errors.email.msg %>
                                    </p>

                                </div>
                                <% } %>
                        </div>
                        <div class="m-formularies-2 ">
                            <label> </label>
                            <div>
                                <input class=" formularies-deco margin-10 flex-q-1" type="password" name="password"
                                    placeholder="Contraseña">
                            </div>
                            <% if(locals.errors && errors.password) { %>
                                <div class="container-errors text-danger">
                                    <p>
                                        <%=errors.password.msg %>
                                    </p>

                                </div>
                                <% } %>
                        </div>
                    </div>
                    <div class="margin-10">
                        <input type="checkbox" name="rememberuser">
                        <label style="font-size: 14px; display:inline-block;" for="">Recordar
                            contraseña</label>
                    </div>
                    <div class="margin-10">
                        <a href="">
                            <h5 class=" no-access">Recuperar contraseña</h5>
                        </a>

                    </div>
                    <div class="text-center m-formularies-2">
                        <button class=" continuar-deco" type="submit">Ingresa</button>
                    </div>
                    </div>


                </section>
                <div>
                    <img class="modelos" style="width: 700px; height: 100%;" src="/img/modelos.jpg" alt="">
                </div>
            </form>
        </main>
        <footer class="footer-login">
            <%- include ("../partials/footer") %>
        </footer>
        <%- include('../partials/scripts-boostrap.ejs') %>

</html>