<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/head") %>

    <body>
        <header>
            <header class="j-space-between bgc-header font-color header">
                <%- include ("../partials/header-home") %>
            </header>
        </header>

        <body>
            <main>
                <section class="container-products margin-top">
                    <div class="gondola ">
                        <% for(element of products) { %>
                            <article class=" margin-10 productos container-products-list">
                                <a href=" <%=`products/${element.productId}`%>">
                                    <div class="precios-descripcion shadows">
                                        <% for(img of element.image) %>
                                            <img src="<%=`/img/products/${img}`%>" class=" fotos" alt="">
                                            <div class="bolsa">
                                                <a href=""> <i class="fas fa-shopping-bag"></i></a>
                                            </div>
                                            <div>
                                                <p class="precios">
                                                    <%= `$ ${element.price.price}` %>
                                                </p>
                                                <h4 class="name">
                                                    <%= element.name %>
                                                </h4>
                                            </div>
                                    </div>
                                </a>
                            </article>
                            <% } %>
                    </div>
                </section>
            </main>
            <footer class="">
                <%- include ("../partials/footer") %>
            </footer>
            <%- include('../partials/scripts-boostrap.ejs') %>
        </body>


</html>